/* Tablet-size */
/* body {
  padding-top: 70px;
} */
/* Section A: Hotel Features */
#features .specials h3 {
	margin: 0rem 1rem 1rem;
}

/* Section C: Testimonials */
/* Meet Our Team */
#about .cards {
	grid-gap: 1.5rem;
}

/* Contact Info */
.my-5 {
	margin: 0;
}

#contact-section {
	margin-top: 5rem;
}

#contact-section .routeway {
	display: block;
}

#contact-section .routeway .map {
	margin-right: 0;
}

#contact-section .routeway .description h2 {
	margin: 1.5rem;
}

/* Mobile-devices */
@media (max-width: 600px) {
	p {
		font-size: 0.75rem;
	}

	/* Navbar */
	#navbar {
		padding: 0;
	}

	#navbar .nav-container {
		display: block;
		text-align: center;
	}

	#logo {
		width: 15px;
	}

	#navbar .nav-container h1 {
		font-size: 1.5rem;
		padding-top: 0.5rem;
	}

	#navbar ul {
		display: block;
	}

	#navbar ul li a {
		line-height: 2.1;
		padding: 0.3rem 1.75rem;
	}

	#navbar ul li:last-child a {
		margin-bottom: 0.75rem;
		padding: 0.3rem 1.3rem;
	}

	#navbar ul li:last-child {
		margin-bottom: 0.5rem;
	}

	/* Showcase */
	#showcase {
		background: #333 url("../img/hotel.jpg") no-repeat 40% 10% / cover;
		margin-top: 20px;
	}

	#showcase .showcase-container {
		/* Overlay */
		position: absolute;
		top: 75px;
	}

	#showcase .showcase-container .l-heading {
		padding-top: 0;
		font-size: 2.8rem;
	}

	#showcase .showcase-container .lead {
		font-size: 0.9rem;
		margin-bottom: 1.5rem;
	}

	#showcase .showcase-container .btn {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}

	/* Section A: Hotel Features */
	#features .specials {
		display: block;
	}

	.section-title {
		font-size: 2rem;
	}

	#features .specials h3 {
		font-size: 1rem;
	}

	#features .specials p {
		font-size: 0.85rem;
		margin-bottom: 3rem;
	}

	/* Section B: Photo Gallery */
	#gallery .slideshow-container .text {
		font-size: 0.75rem;
		position: absolute;
		right: -10px;
		bottom: -5px;
	}

	#gallery .slideshow-container .dot {
		height: 5px;
		width: 5px;
		margin: 0.3rem 0.3rem;
	}

	/* Section C: Testimonials */
	#testimonials .testimonial {
		display: block;
	}

	#testimonials .testimonial p {
		text-align: justify;
		margin: 0.5rem 0.9rem;
	}

	#testimonials .testimonial img {
		margin: 0.1rem;
	}

	#testimonials .testimonial blockquote footer {
		text-align: center;
	}

	/* Footer */
	#main-footer .footer-container {
		display: block;
	}

	#main-footer .footer-content {
		display: block;
	}

	#main-footer .footer-container h3 {
		font-size: 1.2rem;
	}

	#main-footer .contact h3,
	#main-footer .links h3,
	#main-footer .newsletter h3 {
		margin-top: 1rem;
		border-top: 1px dotted #555;
		padding-top: 1rem;
	}

	#main-footer p {
		font-size: 0.75rem;
	}

	.icon-location {
		margin: 0;
	}

	#main-footer .footer-container input[type="submit"] {
		margin-bottom: 2rem;
	}

	#main-footer .footer-content .footer-logo {
		padding-top: 0.3rem;
	}

	/* About Us */
	#about .parallax {
		height: 55vh;
	}

	#about .parallax .title-center {
		top: 60%;
	}

	#about .about-info {
		display: block;
	}

	#about .about-info .info {
		margin: 0 1rem;
	}

	#about .about-info img {
		margin-top: 3rem;
	}

	/* Meet Our Team */
	#about .cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 0;
	}

	#about .cards .card {
		margin: 0.75rem;
		flex: 1;
	}

	#about .cards .card:last-child {
		flex: 0.5;
	}

	/* Hotel Gallery */
	#about .gallery-content {
		display: flex;
		flex-wrap: wrap;
	}

	#about .gallery-content figure img {
		display: inline-block;
		width: 50%;
		margin: 0.5rem;
	}

	#about .gallery-content figure img:hover {
		transform: scale(1.7);
	}

	/* Contact Form */
	#contact-section .section-title {
		padding-top: 60px;
	}
	#contact-section .text-fields {
		grid-template-areas:
			"name"
			"email"
			"subject"
			"phone"
			"message";
	}

	#contact-section .btn {
		width: 50%;
	}

	#contact-section .routeway iframe {
		height: 300px;
		width: 300px;
	}

	#contact-section .description p {
		text-align: justify;
		margin: 0 0.3rem;
	}
}
